.InputSelection {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	select {
		appearance: none;
		background-color: #fff;
		padding: 20px;
		border: none;
		box-sizing: border-box;
		box-shadow: var(--sombra-p);
		color: var(--cor-cinza-medio);
		font-size: 16px;
	}
}

.InputSelection::after {
	content: '▼';
	position: absolute;
	top: 56%;
	right: 20px;
	color: var(--cor-cinza-medio);
	pointer-events: none;
}
