.form-section {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	width: 66%;
}

.form {
	box-sizing: border-box;
	background-color: var(--cor-cinza-claro);
	box-shadow: var(--sombra-m);
	padding: 32px 64px;
	border-radius: 20px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 24px;
}

.form-time {
	display: flex;
	align-items: flex-end;
	gap: 16px;
}

.btn-time {
	background-color: var(--cor-violeta);
	border: none;
	border-radius: 50%;
	color: var(--cor-branco);
	min-width: 58px;
	height: 58px;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.3s ease;
	&:hover {
		color: var(--cor-ciano);
	}
}
