.userCard {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;

	border-radius: 10px;
	width: 260px;
	height: 270px;
	box-sizing: border-box;
	background-color: var(--cor-branco);
	box-shadow: var(--sombra-m);
}

.userCard-delete {
	font-size: 25px;
	color: var(--cor-preto);
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	transition: 0.3s ease;
	&:hover {
		scale: 1.2;
	}
}

.userCard-top {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
	height: 90px;
	img {
		position: absolute;
		width: 120px;
		height: 120px;
		border-radius: 60px;
		transform: translate(-60px, -60px);
		top: 90px;
		left: 130px;
	}
}

.userCard-botton {
	margin-top: 80px;
	text-align: center;
	padding: 0 30px 30px 30px;
	h4 {
		color: var(--cor-violeta);
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	h5 {
		color: var(--cor-grafite);
		font-size: 16px;
		font-weight: 400;
	}
}
