.footer {
	height: 213px;
	width: 100%;
	background-image: url('/assets/fundo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--cor-violeta);
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.footer-redes {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	a {
		transition: 0.3s ease;
		&:hover {
			scale: 1.2;
		}
	}
}

.footer-logo {
	transition: 0.3s ease;
	&:hover {
		scale: 1.1;
	}
}

.footer-dev {
	color: var(--cor-branco);
	font-size: 20px;
	a {
		color: inherit;
		font-weight: 600;
		transition: 0.3s ease;
		&:hover {
			color: var(--cor-ciano);
		}
	}
}
