.input-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	label {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 8px;
	}
	input {
		background-color: #fff;
		padding: 20px;
		border: none;
		font-size: 16px;
		box-shadow: var(--sombra-p);
		box-sizing: border-box;
		&::placeholder {
			font-size: 16px;
			color: var(--cor-cinza-medio);
		}
	}
}
